.container {
    width: 100%;
    height: 109.33vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
    overflow: hidden;
    position: relative;
}

.subContainer {
    background-color: #212121;
    width: 90.2vw;  
    height: 88vh;       
    border-radius: 0.85rem;  
    padding: 4.25rem 5rem 2.56rem 6.25rem;
    z-index: 2;
}

.insider {
    width: 76.38vw; 
    height: 76vh;        
    display: flex;
    flex-direction: column;
    gap: 2.56rem;
}

.header {
    width: 100%;
    height: 8.09rem; 
}

.header h2 {
    color: #FFFFFF;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 3.24rem;
    line-height: 4rem;   
    letter-spacing: -0.07rem; 
    padding-top: 1.25rem;
}

.desc {
    display: flex;
    justify-content: space-between;
}

.rate {
    width: 49.31rem; 
    height: 24.25rem;   
    max-width: 44.38rem; 
    border-radius: 0.75rem; 
    padding: 2.56rem 2.5rem 2.5rem 2.5rem;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 37.5rem;    
    height: 19.19rem;  
}

.inner img {
    height: 1.25rem;  
    width: 8.75rem;  
    padding-right: 0.81rem; 
}

.inner p {
    color: #FFFFFFB3;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.37rem;  
    line-height: 2.25rem;  
    letter-spacing: 0px;
}

.inner span {
    color: #FFFFFF;
}

.info {
    gap: 0;
}

.info h2 {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.97rem;
    line-height: 1.5rem; 
}

.info p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.95rem; 
    line-height: 1.5rem;  
}

.video {
    width: 19.75rem;  
    height: 24.25rem;   
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoIcon img {
    width: 7.2rem;   
    height: 7.2rem;    
    max-width: 8.63rem; 
}

.videoPlayer {
    width: 100%;
    height: 100%;
    border: none;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logoLink {
    cursor: pointer;
}

.logo {
    filter: brightness(70%);
    opacity: 0.8;
}

.logo:hover {
    opacity: 0.8;
}

.logo.active {
    filter: brightness(100%);
    border-radius: 0.25rem;
}

.radiusImg,
.blueradius {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.4;
}

.blueradius {
    opacity: 0.6;
}

/* Responsiveness */
@media (min-width: 1440px) {
    .subContainer {
        width: 87.5rem;           
        padding: 2.5rem 5.625rem 3.125rem 6.875rem; 
    }

    .insider {
        width: 75rem;             
    }

    .radiusImg,
    .blueradius {
        width: 37.5rem;           
    }
}

@media (max-width: 1024px) { 
    .container {
        height: auto;
        padding: 5rem 1.25rem; 
    }

    .subContainer {
        width: 95%;
        height: auto;
        padding: 2.5rem 1.875rem; 
    }

    .insider {
        width: 100%;
        gap: 1.875rem; 
        height: auto;
    }

    .desc {
        flex-direction: column-reverse; 
        align-items: center;
        gap: 1.875rem; 
        width: 100%;
    }


    .rate {
        width: 100%;
        height: auto;
        padding: 1.875rem; 
    }

    .inner {
        width: 100%;
        height: auto;
    }

    .inner p {
        font-size: 1.125rem; 
        line-height: 2rem;    
    }

    .video {
        width: 100%;
        max-width: 43.55rem; 
        height: 18.75rem;  
    }

    .header h2 {
        font-size: 2.25rem;  
        line-height: 3rem; 
        text-align: center;
    }

    .logos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem; 
    }

    .radiusImg,
    .blueradius {
        width: 25rem; 
    }
}
@media (max-width: 767px) { 
    .container {
        padding: 3.75rem 0.9rem; 
    }

    .subContainer {
        padding: 1.9rem 1.25rem; 
    }

    .header h2 {
        font-size: 1.75rem; 
        line-height: 2.25rem; 
        padding-top: 0;
    }

    .inner p {
        font-size: 1rem; 
        line-height: 1.7rem;
    }

    .video {
        height: 15.6rem;
    }

    .videoIcon img {
        width: 5rem; 
        height: 5rem; 
    }

    .radiusImg,
    .blueradius {
        width: 18.75rem; 
    }
}

