.container {
    position: relative;
    padding: 5rem 1rem;
    background: #000;
    color: #fff;
    overflow: hidden;
    text-align: center;
  }
  
  .glow {
    position: absolute;
    left: 0;
    top: 24%;
    width: 20.8vw;
    z-index: 0;
  }
  
  
  .spiral {
    position: absolute;
    left: 10.6rem;
    bottom: 10.5rem;
    width: 8.5vw;
    height: 22.9vh;
  }
  
  .star {
    position: absolute;
    left: 3rem;
    top: 85%;
    width: 4.5vw;
    height: 8.5vh;
  }
  
  .heading {
     
    text-align: left;
    padding-left: 7.5rem;
    padding-bottom: 5.5rem;
    line-height: 3.7rem;
   
  }
  .heading h2{
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    font-weight: 600;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding-left: 8.4rem;
    
  }
  
  .card {
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding: 1.9rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 8.3vw;
    height: 46.5vh;
    max-width: 836px;
    max-height: 46.5vh;
    border-radius: 0.5rem;
  }
  
  .card h3 {
    font-size: 1.1em;
    width: 100%;
    margin-top: 3.7em;
    transform: rotate(90deg);
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    line-height: 1.4rem;
    color: #FFFFFFB3; 

    
  }
  
  .card p {
    margin-top: -10px;
    font-size: 0.9em;
    line-height: 1.6rem;
    
  }
  
  .stepNum {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .active {
    width: 25vw;
    height: 46.5vh;
    max-width: 58vw;
    max-height: 46.5vh;
    border-radius: 0.5rem;
    background: #121212;
    text-align: left;
    padding: 2rem;
    
  }
  .active .stepNum{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 6rem;
    letter-spacing: -1.7px;
  }

  .active h3 {
    transform: rotate(0deg);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 2.3em;
    letter-spacing: -0.32px;
    margin-top: 1rem;
    color: #FFFFFF;
    

}
  .active p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5rem;
    color: #FFFFFFB3;  
    
}
  

/* Responsive  */
@media (max-width: 1258px) {
   
    .cardContainer {
      padding-left: 80px;
    }
    .spiral{
      position: absolute;
      left: 6.6rem;
      bottom: 7.5rem;
      width: 9.5vw;
      height: 24.9vh;
    }
    .glow {
      position: absolute;
      left: 0;
      top: 30%;
      width: 20.8vw;
      z-index: 0;
    }
  }
  
  @media (max-width: 768px) {
    .heading {
      padding: 0rem 0rem 2.3rem 2.3rem;
      text-align: center;
    }
    
    .heading h2 {
      font-size: 2rem;
      line-height: 2.3rem;
    }
    
    .card {
      width: 9.5vw;
      height: 24vh;
      padding: 1.2rem 1rem;
    }
    
    .card h3 {
      font-size: 0.9rem;
      margin-top: 40px;
    }
    
    .active {
      width: 32.3vw;
      height: 24vh;
      padding: 1.2rem 1.4rem;
    }
    
    .active .stepNum {
      font-size: 3.1rem;
      line-height: 5rem;
    }
    
    .active h3 {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    
    .active p {
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
    
    .spiral {
      display: none;
    }
    
    .star {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    
    .heading {
      padding:0rem 0.9rem 1.8rem 0.9rem ;
      }
    
    .heading h2 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    
    .cardContainer {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      gap: 0.8rem;
    }
    
    .card {
      width: 100%;
      height: 5.5vh;
      flex-direction: row;
      align-items: center;
      padding: 0.9rem 1.2rem;
    }
    
    .card h3 {
      transform: rotate(0deg);
      margin-top: 0;
      margin-left: 20px;
      text-align: center;
      width: auto;
      font-size: 16px;
    }
 
    .active {
      width: 100%;
      height: auto;
      padding: 1.2rem;
      flex-direction: column;
      align-items: flex-start;
    }
   
    .active h3 {
      
      margin-left: 0;
      margin-top: 10px;
    }
    
    .active p {
      display: block;
      margin-top: 0.7rem;
    }
    
    .glow {
      width: 55vw;
      top: 30%;
    }
  }