.container {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.subcontainer {
  width: 100%;
  padding-left: 9.7vw;
  padding-right: 9.7vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15vh;
}
.section1,
.section2 {
  height: 76vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6vw;
}
.sec1Img .sec2Img {
  width: 55%;
  height: 36rem;
  max-width: 50%;
}

.sec1Img img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.sec2Img img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.textContainer {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  width: 45%;
  justify-content: center;
  gap: 1.2rem;
}

.textContainer h2 {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin: 0;
  text-align: left;
}

.textContainer p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0;
  text-align: left;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  text-align: left;
}

.inner {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.inner p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
}
.sec2Text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 50%;
  justify-content: center;
  gap: 1.2rem;
}
.sec2Text h2 {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 0;
  margin-bottom: 1rem;
}
.sec2Text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
  
}
.sec2Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.28px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.7rem 0.1rem;
}
.btn:hover {
  background-color: rgb(218, 216, 216);
  width: 12.5vw;
  border-radius: 10px;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}

.btnImg {
  height: 2.2em;
  width: 2.2em;
}


/* Responsiveness */
@media (max-width: 1024px) {
  .container {
    height: auto;
    padding: 1.2rem;
    overflow: hidden;
   
  }

  .section2 > .sec1Img {
    order: 1;
  }
  
  .section2 > .sec2Text {
    order: 2;
  }
  .section1,
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 2.5rem;
    overflow: hidden;
    padding: 3rem 0rem 3rem 0rem;
  }

  .sec1Img,
  .sec2Img,
  .textContainer,
  .sec2Text {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textContainer h2,
  .sec2Text h2 {
    font-size: 1.8em;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.75em;
  }

  .textContainer p,
  .sec2Text p {
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0rem 1rem;
  }

  .btnImg {
    height: 1.75rem;
    width: 1.75rem;
  }
}


@media (min-width: 1440px) {
  .section1,
  .section2 {
    width: 80.67vw;;
  }

  .textContainer,
  .sec2Text {
    max-width: 41.67vw;
  }

  .sec1Img,
  .sec2Img {
    width: 45.83vw;
    height: auto;
  }
}
