.container {
  width: 100%;
  max-width: 100%;
  margin: 16vh auto 0 auto;
  gap: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.spiral {
  position: absolute;
  top: 37vh;
  right: 31vw;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58.19vw;
  height: 43.5vh;
  gap: 2vw;
 
}

.heading {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 4.305vw;
  line-height: 10.55vh;
  letter-spacing: 0px;
  color: #0f1311;
  margin: 0px;
  width: 100%;
  max-width: 1000px;
  
}

.subHeading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.44vw;
  line-height: 4vh;
  letter-spacing: 0px;
  color: #474650;
  width: 46.08vw;
}

.btn {
  height: 7vh;
  width: 18.2vw;
  border-radius: 30px;
  padding: 0.7vh 1.38vw;
  background-color: black;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.34vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnLink{
  text-decoration:none;
}
.btn p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: white;
}
.btn span {
    display: flex;
    align-items: center;
  }
.DashboardImages {
  overflow: hidden;
  
}
.dashboard {
  width: 100vw; 
  height: auto; 
  display: block;
  margin-top: -30vh;
  z-index: 3; 
}

@media (max-width: 768px) {
    .container {
      margin-top: 8vh;
      gap: 6vh;
    }
  
    .spiral {
      top: 60vh;
      right: 5vw;
      width: 20vw;
    }
  
    .textBoard {
      flex-direction: column;
      width: 90vw;
      height: auto;
      gap: 4vw;
    }
  
    .heading {
      font-size: 6.5vw;
      line-height: 9vw;
      max-width: 100%;
    }
  
    .subHeading {
      font-size: 4vw;
      line-height: 6vw;
      width: 90vw;
    }
  
    .btn {
      width: 60vw;
      height: auto;
      padding: 3vw 4vw;
    }
  
    .btn p {
      font-size: 4vw;
    }
  
    .dashboard {
      width: 100vw;
      height: auto;
      margin-top: 0;
    }
    .spiral{
        display: none;
    }
  }
  
  @media (max-width: 1440px) {
    .spiral {
        position: absolute;
        top: 37vh;
        right: 28vw;
      }
    }
  @media (max-width: 1024px) {
    .spiral {
        position: absolute;
        top: 37vh;
        right: 20vw;
      }
       .btn {
        width: 25vw;
        height: auto;
        padding: 1vw 3vw;
      } 
    
      .btn p {
        font-size: 1.5vw;
      }
    
  }